/* Geral */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000080, #000000); /* Gradiente azul e preto */
    color: #fff; /* Cor do texto ajustada para contraste */
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Cabeçalho */
header {
    background: linear-gradient(135deg, #202020, #0056b3);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header p {
    margin: 0 0 10px 0;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    animation: shine 2s infinite alternate;
}

/* Drawer */
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(135deg, #202020, #0056b3);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
   
}

.drawer.active {
    transform: translateX(0);
}

.drawer .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawer .nav-links a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.drawer .nav-links a:hover {
    background: linear-gradient(135deg, #202020, #0056b3);
    background-color: white;
    animation: shine 2s infinite alternate;
    transform: scale(1.1);
}

/* Drawer Toggle */
.drawer-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

/* Seção principal */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Preto transparente */
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    transition: transform 0.3s ease;
    border: 4px solid;
    border-image: linear-gradient(135deg, #0056b3, #0056b3) 1;
}

.hero:hover {
    transform: scale(1.05);
}

.hero-img {
    width: 35%;
    border-radius: 8px;
    margin-right: 15px;
    animation: fadeIn 2s ease-out;
}

.hero-text {
    width: 50%;
    text-align: center;
    animation: shine 2s infinite alternate;
}

.hero-text h2 {
    font-size: 3em;
    color: #5e9bff;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: shine 2s infinite alternate;
}

.hero-text p {
    font-size: 1.5em; /* Aumenta o tamanho do texto */
    line-height: 1.6;
    color: white; /* Texto branco */
    font-weight: bold; /* Deixa o texto mais destacado */
}


/* Animação de FadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Efeito de Hover no texto */
.hero-text:hover h2 {
    color: #0056b3;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Rodapé */
footer {
    text-align: center;
    background: linear-gradient(135deg, #202020, #0056b3);
    color: white;
    padding: 20px;
    position: relative;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Consentimento de cookies */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    display: none;
    justify-content: space-between;
    align-items: center;
    animation: slideUp 1s ease-in-out;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #007bff;
}

.cookie-banner p {
    margin: 0;
    flex: 1;
    font-size: 14px;
}

.cookie-banner a {
    color: #007bff;
    text-decoration: underline;
}

.cookie-banner button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 14px;
}

.cookie-banner button:hover {
    background-color: #45a049;
}

/* Modal do termo completo */
#termo-completo {
    display: none;
    background-color: white;
    color: black;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 2000;
}

#termo-completo h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

#termo-completo ul {
    margin-bottom: 20px;
}

#termo-completo button#closeTermo {
    background-color: #ff4d4d;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#termo-completo button#closeTermo:hover {
    background-color: #cc0000;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shine {
    0% {
        text-shadow: 0 0 5px rgba(59, 130, 246, 0.3), 0 0 10px rgba(59, 130, 246, 0.3), 0 0 15px rgba(59, 130, 246, 0.3);
    }
    50% {
        text-shadow: 0 0 7px rgba(59, 130, 246, 0.7), 0 0 30px rgba(59, 130, 246, 0.7), 0 0 40px rgba(59, 130, 246, 0.7);
    }
    100% {
        text-shadow: 0 0 5px rgba(59, 130, 246, 0.3), 0 0 10px rgba(59, 130, 246, 0.3), 0 0 15px rgba(59, 130, 246, 0.3);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
        animation: shine 2s infinite alternate;
    }

    nav a {
        margin: 0 10px;
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .toolbar a {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .cookie-consent {
        font-size: 0.8em;
    }

    .cookie-consent button {
        font-size: 0.8em;
        padding: 6px 12px;
    }

    .hero {
        flex-direction: column;
        padding: 50px;
    }

    .hero-img {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .hero-text {
        width: 100%;
        text-align: center;
        animation: shine 2s infinite alternate;
    }

    .hero-text h2 {
        font-size: 2em;
        animation: shine 2s infinite alternate;
    }

    .hero-text p {
        font-size: 1em;
    }

    /* Ajuste para dispositivos muito pequenos */
    .toolbar {
        flex-direction: column;
        padding: 10px;
    }

    .toolbar a {
        margin-bottom: 10px;
    }
}