<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Converta seus arquivos PDF em imagens JPG ou PNG de forma rápida e fácil, sem complicações!">
    <meta name="keywords" content="PDF para JPG, PDF para PNG, conversor PDF, conversão de arquivos, converter PDF em imagem, extrair imagens de PDF, PDF para foto, ferramenta online">
    <meta name="robots" content="index, follow">
    <title>Conversor Cxrzin - Transforme seus arquivos com facilidade</title>
    <link rel="icon" type="image/webp" href="{{ url_for('static', filename='images/logo.webp') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="drawer" id="navbar">
        <div class="nav-links">
            <a href="{{ url_for('conversao_mp4mp3') }}" target="_blank">MP4/M4V Para MP3</a>
            <a href="{{ url_for('conversao_excelorpdf') }}" target="_blank">PDF Para Excel/Excel Para PDF</a>
            <a href="{{ url_for('conversao_pdfword') }}" target="_blank">PDF Para Word/Word Para PDF</a>
            <a href="{{ url_for('conversao_txtpdf') }}" target="_blank">PDF Para TXT/TXT Para PDF</a>
            <a href="{{ url_for('conversao_pdfimages') }}" target="_blank">PDF Para Png/Jpg</a>
            <a href="{{ url_for('conversao_pngparaico') }}" target="_blank">Png Para ICO</a>
        </div>
    </div>
    <div class="drawer-toggle" id="drawer-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo do Conversor Cxrzin" class="logo-img">
            <h1>Conversor Cxrzin</h1>
        </div>
        <p>Clique em uma opção e, se necessário, volte e tente novamente para fechar o anúncio.</p>
    </header>
    <main>
        <section class="hero">
            <img src="{{ url_for('static', filename='images/image.webp') }}" alt="Imagem representando a conversão de arquivos" class="hero-img">
            <div class="hero-text">
                <h2>Bem-vindo ao Conversor Cxrzin</h2>
                <p>Transforme seus arquivos com rapidez e qualidade.</p>
                <p>Nosso conversor suporta diversos formatos para atender às suas necessidades.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Conversor Cxrzin. Todos os direitos reservados. | 
        <a href="{{ url_for('termos_de_uso') }}" id="termsLink">Termos de Uso</a> | 
        <a href="{{ url_for('politica_privacidade') }}">Política de Privacidade</a></p>
    </footer>
    <div class="cookie-banner" id="cookie-banner">
        <p>Este site utiliza cookies para melhorar sua experiência. Ao continuar navegando, você aceita nossa <a href="{{ url_for('politica_privacidade') }}" style="color: #007bff;">Política de Privacidade</a>.</p>
        <button onclick="acceptCookies()">Aceitar</button>
    </div>

    <script>
        function acceptCookies() {
            document.getElementById('cookie-banner').style.display = 'none';
            localStorage.setItem('cookiesAccepted', 'true');
        }

        window.onload = function() {
            if (localStorage.getItem('cookiesAccepted') === 'true') {
                document.getElementById('cookie-banner').style.display = 'none';
            }
        };

        document.addEventListener('DOMContentLoaded', function() {
            const drawerToggle = document.getElementById('drawer-toggle');
            const navbar = document.getElementById('navbar');

            drawerToggle.addEventListener('click', function() {
                navbar.classList.toggle('active');
            });
        });
    </script>
</body>
</html>
