<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="
PDF para JPG, PDF para PNG, conversor PDF, conversão de arquivos, 
converter PDF em imagem, extrair imagens de PDF, PDF para foto, 
PDF para imagem grátis, alta qualidade, rápido e fácil, sem marca d'água, 
ferramenta online, exportar PDF como imagem, baixar JPG de PDF, 
baixar PNG de PDF, transformar PDF em imagem, converter documentos PDF, 
melhor conversor de PDF, grátis e online, PDF converter pro">

<meta name="robots" content="index, follow">
<meta name="monetag" content="1371450cb0065bd4aa25dbc18936a61c">
<script src="https://kulroakonsu.net/88/tag.min.js" data-zone="132044" async data-cfasync="false"></script>

    

    <meta name="description" content="Transforme seus arquivos Excel em PDF e PDF em Excel em segundos! Ferramenta fácil de usar, online e gratuita.">
    <title>Conversor Excel ↔ PDF - Rápido, Fácil e Gratuito</title>          
    <link rel="stylesheet" href="/static/stylesexcelpdf.css">
</head>
<body>
    <div class="container">
        <h1>Conversor PDF ↔ Excel By Cxrzin</h1>
        <form action="/convert_pdf_to_excel" method="POST" enctype="multipart/form-data">        
            <label for="fileInput">Selecione um arquivo:</label>
            <input type="file" id="fileInput" name="file" required>
            
            <label for="conversionType">Escolha o tipo de conversão:</label>
            <select id="conversionType" name="conversionType" required>
                <option value="pdf-to-excel" style="color: #000;">PDF para Excel</option>
                <option value="excel-to-pdf" style="color: #000;">Excel para PDF</option>
            </select>
            
            <button type="submit">Converter</button>
        </form>

        {% if download_link %}
        <div id="result">
            <h2>Resultado:</h2>
            <a href="{{ download_link }}" download>Baixar Arquivo Convertido</a>
        </div>
        {% endif %}
    </div>
</body>
</html>