<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3809749496544897"
     crossorigin="anonymous"></script>
    <meta name="description" content="Converta arquivos PDF para Word e Word para PDF de forma rápida e simples. Totalmente gratuito e sem complicações!">
    <title>Conversor PDF ↔ Word - Simples, Rápido e Grátis</title>  
    <link rel="stylesheet" href="/static/stylespdfword.css">
</head>
<body>
    <div class="container">
        <h1>Conversor PDF ↔ Word By Cxrzin</h1>
        <form action="/converterpdfword" method="post" enctype="multipart/form-data">
            <label for="fileInput">Selecione um arquivo:</label>
            <input type="file" id="fileInput" name="file" required>
            
            <label for="conversionType">Escolha o tipo de conversão:</label>
            <select id="conversionType" name="conversionType" required>
                <option value="pdf-to-word" style="color: #000;">PDF para Word</option>
                <option value="word-to-pdf" style="color: #000;">Word para PDF</option>
            </select>
            
            <button type="submit">Converter</button>
        </form>

        {% if download_link %}
        <div id="result">
            <h2>Resultado:</h2>
            <a href="{{ download_link }}" download>Baixar Arquivo Convertido</a>
        </div>
        {% endif %}
    </div>
</body>
</html>