<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Converta seus arquivos PDF em imagens JPG ou PNG de forma rápida e fácil!">
    <title>Conversor PDF para Imagens By Cxrzin - Rápido e Gratuito</title>
    <link rel="stylesheet" href="/static/stylespdfimagens.css">
</head>
<body>
    <div class="container">
        <h1>Conversor PDF para Imagens By Cxrzin</h1>
        <form action="/convert_image" method="post" enctype="multipart/form-data">
            <label for="fileInput">Selecione um arquivo PDF:</label>
            <input type="file" id="fileInput" name="file" required>
            
            <label for="outputFormat">Escolha o formato de saída:</label>
            <select id="outputFormat" name="outputFormat" required>
                <option value="PNG" style="color: #000;">PNG</option>
                <option value="JPG" style="color: #000;">JPG</option>
            </select>
            
            <button type="submit">Converter</button>
        </form>

        {% if download_link %}
        <div id="result">
            <h2>Resultado:</h2>
            <a href="{{ download_link }}" download>Baixar Arquivo Convertido</a>
        </div>
        {% endif %}
    </div>
</body>
</html>